{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Todo List</h1>

            <!-- Create Task Button -->
        <div class="button-container">
            <a href="/create" class="create-btn">Create New Task</a>
        </div> <br>
        <table class="todo-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
            {%if todos %}
            {% for todo in todos %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{todo.todo}}</td>
                    <td><a href="{{url_for('update', id=todo.id)}}">Edit</a></td>
                    <td>
                        <form action="{{url_for('delete', id=todo.id)}}" method="POST" style="display: inline">
                            {{form.hidden_tag()}}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No tasks found</td>
            </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
{% endblock %}
